body{
	background-color: $bgColor;
	font-family: 'Roboto Slab', sans-serif;
	color : white;
	margin:0;
	background-repeat: no-repeat;
    background-image: url('#{$imgDir}/background.png');
    background-size: 100%;
}
pre{
	font-family: 'Roboto Slab', sans-serif !important;
	margin:0;
}

header{
	position:absolute;
	img{
		margin:1.3vw;
		width:10vw;
	}
}

main{
	min-height:42vw;
	transition: opacity $fadeTime;
}

footer{
	display: flex;
	flex-wrap:wrap;
	padding:3vw 0 1vw;
	background: linear-gradient(transparent, darken($bgColor, 7%) 25%);
	justify-content: space-around;
	align-items: center;
	div{
		text-align:center;
		h3{
			margin:0;
		}
		img{
			width: 100px;
		}
		p{
			margin:0;
		}
		a{
			color:white;
			text-decoration: none;
			margin:0 10px;
		}
	}
}

.faded{
	opacity: 0;
	transition: opacity $fadeTime;
}

article.view{
	display:none;
	&.active{
		display:block;
	}
}