//Colors
$lineColor: #06ecec;
$bgColor: #04122C;

//Paths
$imgDir: "../img";

//Misc
$fadeTime: 500ms;


//Members
$memberCardWidth: 215px;

//Animations
@keyframes rotation {
    from {
    	transform:rotate(0deg);
    }
    to {
    	transform:rotate(360deg);
    }
}