#sponsors{
	.row{
		display:flex;
		justify-content:center;
		text-align:center;
		.sponsor{
			margin:10px;
			padding:10px;
			flex:1 1 auto;
			img{
				width:100%;
			}
		}
	}

	.first{
		.sponsor{
			max-width:1000px;
			img{
				max-width:600px;
			}
		}
	}
	.second{
		.sponsor{
			max-width:1000px;
			img{
				max-width:600px;
			}	
		}
	}
	.third{
		.sponsor{
			max-width:1000px;
			img{
				max-width:600px;
			}	
		}
	}

	.fourth{
		.sponsor{
			max-width:400px;
			img{
				max-width:300px;
			}	
		}
	}
	.fifth{
		.sponsor{
			max-width:300px;
			img{
				max-width:300px;
			}	
		}
	}
	.sixth{
		.sponsor{
			max-width:300px;
			img{
				max-width:300px;
			}	
		}
	}
}