#team{
	.container{
		display: flex;
		margin: 100px;
		flex-wrap: wrap;
		justify-content: center;
		.member{
			text-align: center;
			margin: 15px 40px;
			flex: 0 0 $memberCardWidth;
			overflow: hidden;
			border-radius: 10px;
			position: relative;
			background-color:rgba(255,255,255,0.3);
			&::before{
				content: " ";
				width: $memberCardWidth;
				height: 70px;
				background-color: white;
				display: block;
				position: absolute;
				z-index: -1;
			}
			img{
				margin-top:10px;
				border-radius:50px;
				box-shadow: 0 3px 10px 3px rgba(0,0,0,0.2);
			}
			.info{
				display: flex;
				flex-direction: column;
				/*justify-content: space-between;*/
				height: 130px;
				padding-bottom:10px;

				h1, h2, h3{
					padding:0;
					margin:5px;
				}
				h1{
					font-size: 20px;
					/*margin-bottom:-40px;*/
				}
				h2{
					font-size: 15px;
				}
				h3{
					font-size: 15px;
				}

			}

		}
	}
	.conclusion{
		text-align:center;
		.button{
			background-color: rgb(5, 177, 177);
			border-radius: 5px;
			color: rgba(255, 255, 255, 0.84);
			cursor: pointer;		
		}
	    h2{
			margin: 0;
			font-weight: 100;
			font-style: italic;
			font-size: 1.4vw;
	    }
	    div{
	    	.email{
				background-color: rgb(37, 64, 114);
				border: none;
				border-radius: 5px;
				font-size: 1.3vw;
				padding: 0.3vw;
	    	}
	    	.submit{
				border: none;
				font-size: 1.3vw;
				padding: 0.3vw;
				margin-left: -1vw;
	    	}
	    }
	    .join{
	    	display:block;
    		font-size: 1.3vw;
			padding: 0.3vw;
			width:200px;
			margin: 0 auto;
			text-align: center;
			color:white;
			text-decoration: none;
    	}
	}
}